    <!DOCTYPE html>
    <html>
    <head>
        <title>Post an Image test</title>
    </head>
    <style>
        /* mirror the image */
        video, canvas {
        transform: scale(-1, 1); /*For Firefox (& IE) */
        -webkit-transform: scale(-1, 1); /*for Chrome & Opera (& Safari) */
    }
    </style>
    <body>
    <div class="container">
        <video id="myVideo" autoplay></video>
        <canvas id="canvasr"  width="320" height="240"></canvas>
        <button type="submit" class="btn" onclick="sendImagefromCanvas()">Show</button>
        <form action="/image" method="POST" enctype="multipart/form-data">
            <h2>Name: {{ name }}</h2>

        </form>
    </div>

    <script>

        let v = document.getElementById("myVideo");
        let popup = document.getElementById("open-popup");
        let canvasr = document.querySelector("#canvasr");

        function open(){
            v.classList.add("open=popup");
        }

        //create a canvas to grab an image for upload
        let imageCanvas = document.createElement('canvas');
        let imageCtx = imageCanvas.getContext("2d");

        //Add file blob to a form and post
        function postFile(file) {
            let formdata = new FormData();
            formdata.append("image", file);
            let xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:5000/image', true);
            xhr.onload = function () {
                if (this.status === 200)
                    console.log(this.response);
                else
                    console.error(xhr);
            };
            xhr.send(formdata);

            canvasr.getContext('2d').drawImage(v, 0, 0, canvasr.width, canvasr.height);

        }

        //Get the image from the canvas
        function sendImagefromCanvas() {

            //Make sure the canvas is set to the current video size
            imageCanvas.width = v.videoWidth;
            imageCanvas.height = v.videoHeight;

            imageCtx.drawImage(v, 0, 0, v.videoWidth, v.videoHeight);

            //Convert the canvas to blob and post the file
            imageCanvas.toBlob(postFile, 'image/jpeg');
        }

        //Take a picture on click
        v.onclick = function() {
            console.log('click');
            sendImagefromCanvas();
        };

        window.onload = function () {

            //Get camera video
            navigator.mediaDevices.getUserMedia({video: {width: 640, height: 480}, audio: false})
                .then(stream => {
                    v.srcObject = stream;
                })
                .catch(err => {
                    console.log('navigator.getUserMedia error: ', err)
                });

        };

    </script>
    </body>
    </html>
